<!--继承 layout 模板 复用头部尾部等页面区域-->
{% extends 'layout.html' %}

{% block main %}
<div class="jumbotron">
    <!--用户列表-->
    <ol class="breadcrumb">
        <li><a href="#">管理首页</a></li>
        <li><span></span>版块添加</li>
    </ol>
    <hr>
    <h3>分类添加:</h3>
    <hr>
    <form method="post">
        <div class="form-group">
            <label for="name">版块名称</label>
            <input type="text" class="form-control" id="name" placeholder="请输入版块名称" name="name">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}