/*
    博客首页 Style
    ...
*/

.main-wrapper {
    background: #444 url("../../images/main/wolfBack.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/*header*/
header {
    background: rgba(0, 0, 0, 0.2);
    height: 150px;

}

header p {
    color: #ccc;
    line-height: 150px;
    font-size: 16px;
    text-align: center;
}

/*nav*/
nav {
    height: 50px;
    background: rgba(225, 225, 225, 0.4);
    text-align: center;
}

nav ul {
    width: 80%;
    height: 30px;
    margin: 0px auto;
    line-height: 30px;
    padding: 10px 0
}

nav ul li {
    display: inline-block;
    min-width: 60px;
    color: #f9f9f9;
    font-size: 16px;
}

nav ul li a {
    color: #f9f9f9;
    text-decoration: none;
}

nav ul a.active {
    cursor: pointer;
    color: #006699;
    border-bottom: 2px solid #006699;
}

nav ul li a:hover {
    cursor: pointer;
    color: #006699;
    border-bottom: 2px solid #006699;
}

/*content*/
.content-wrapper {
    /*background: rgba(225, 225, 225, 0.6);*/
    width: 80%;
    margin: 10px auto;
    height: 600px;
    border-radius: 4px;
}

.content-wrapper .leftModule {
    width: 72%;
    margin: 10px 12px;
    /*border-width: 1px;*/
    /*border-style: solid;*/
    float: left;
}

.content-wrapper .leftModule .leftBox {
    width: 98%;
    min-height: 80px;
    margin: 6px 6px;
    border-width: 1px;
    border-style: dashed;
    background: rgba(225, 225, 225, 0.6);
}

.content-wrapper .rightModule {
    width: 23%;
    height: 500px;
    margin: 15px 10px 15px 0px;
    /*border-width: 1px;*/
    /*border-style: solid;*/
    float: right;

}

.content-wrapper .rightModule .rightBox {
    width: 94%;
    min-height: 80px;
    margin: 6px 6px;
    border-width: 1px;
    border-style: dashed;
    background: rgba(225, 225, 225, 0.6)
}

/*leftModule 文章列表区域*/
.leftModule .leftBox .articleTitle {
    text-align: center;
    color: #006699;
    padding: 6px 0px;
    width: 60%;
    margin: 0 auto;
}

.leftModule .leftBox .colDefault {
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-indent: 10px;
}

.leftModule .leftBox .colDefault .colInfo {
    margin: 0px 10px;
}

.leftModule .leftBox .colDefault span {
    color: #006699;
}

.leftModule .leftBox .summary {
    min-height: 40px;
    max-height: 80px;
    line-height: 20px;
    text-indent: 10px;
}

.leftModule .leftBox .contentDetail {
    min-height: 40px;
    line-height: 20px;
    text-indent: 10px;
    margin: 20px;
}

.leftModule .leftBox .readButton {
    width: 90px;
    margin: 6px 12px;
    cursor: pointer;
}

.leftModule .leftBox .readButton a {
    color: #006699;
    text-decoration: none
}

.leftModule .leftBox .readButton a:hover {
    color: #df6b31;
}

/*评论区域*/
.leftModule .message {
    min-height: 150px !important;
}

.leftModule .message .colInfo {
    height: 30px;
    line-height: 30px;
    margin: 0 15px;
}

.leftModule .message strong {
    float: left;
    font-size: 16px;
}
em{
    color: red;
}

.leftModule .message h3 span {
    float: right;
}

.leftModule .message textarea {
    float: left;
    width: 90%;
    height: 30px;
    resize: none;
    padding: 0;
    line-height: 30px;
    outline: none;
}

.leftModule .message button {
    width: 9%;
    height: 30px;
    float: right;
    cursor: pointer;
}

.bgDanger{
    text-align: center;
    color: #fff;
    background: #ccc;
    margin:20px 15px !important;
}

/*rightModule 注册/登录/热门话题 等等区域*/
.rightModule .rightBox .title {
    text-align: center;
    background: #006699;
    color: #fff;
    height: 40px;
    line-height: 40px;
}

.rightModule .rightBox .line {
    height: 30px;
    margin: 6px auto;
    line-height: 30px;
    width: 80%;
}

.rightModule .rightBox .line .colDark {
    display: inline-block;
    width: 24%;
}

.rightModule .rightBox .line input {
    line-height: 24px;
    border: 1px solid #ccc;
    width: 74%;
    float: right;
}

.rightModule .rightBox .registerBtn {
    float: right;
    cursor: pointer;
}

.rightModule .rightBox .textRight {
    height: 30px;
    line-height: 30px;
    text-align: right;
}

.rightModule .rightBox .colWarning {
    height: 20px;
    color: #fb5b4a;
    text-align: center;
}

/*
    评论内容相关显示
*/
.message .messageList{
    margin:20px 15px;
    min-height: 40px;
    line-height: 20px;
}
.message .messageList .messageBox{
    min-height: 40px;
    line-height: 20px;
    background: #ccc;
    margin:10px 0px;
}
.message .messageList .messageBox .messageLine{
    height:30px;
    color: #1b6d85;
}

/*footer*/
footer {
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    line-height: 60px;
    text-align: center;
    color: #fff;
}

/*
    分页
*/
.pager li {
    display: inline-block;
    color: #006699;
}

.pager {
    width: 98%;
    margin: 6px 6px;
    text-align: center;
    height: 40px;
    background: rgba(225, 225, 225, 0.6);
    line-height: 40px;
    color: #fff;
}

.pager a {
    color: #006699;
}

.pager a:hover {
    color: #df6b31;
}

.pager .previous {
    width: 20%;
    float: left;
}

.pager .pageInfo {
    width: 60%;
}

.pager .next {
    width: 20%;
    float: right;
}

/*
    复用样式处理
*/

/*控制文本超出宽度显示 ...*/
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.borderColor {
    border-color: #cccccc;
}

.boxHidden {
    display: none;
}

.clear{
    clear: both;
}